<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <header>
        <img src="C:\Users\96478\Desktop\HTML\assignment-html\img\logo.png" width="15px" height="15px" >
        <h1>Dlvin Hafeez Abdulaziz</h1>
   </header>










    <nav>
        <ul>
            <li><a href="index.html">Home </a></li>
            <li><a href="C:\Users\96478\Desktop\HTML\assignment-html\blog.html">Blog</a></li>
            <li><a href="C:\Users\96478\Desktop\HTML\assignment-html\schedule.html">Schedule</a></li>
            <li><a href="#drop-down-menu">Layout Design</a>
            <ul id="drop-down-menu">
                <li><a href="C:\Users\96478\Desktop\HTML\assignment-html\layout\float.html">Float Layout with Side nav</a></li>
                <li><a href="C:\Users\96478\Desktop\HTML\assignment-html\layout\flex.html">Flexbox Layout with Side nav</a></li>
                <li><a href="C:\Users\96478\Desktop\HTML\assignment-html\layout\grid.html">Blog Grid View</a></li>
            </ul></li>
            <li><a href="C:\Users\96478\Desktop\HTML\assignment-html\signup.html">sign up</a></li>
            <li><a href="C:\Users\96478\Desktop\HTML\assignment-html\signin.html">sign in</a></li>
        </ul>
    </nav>








    <main>
    <h2>floated Sidebar + Blogs</h2>
            <div>
                <div><h3>Topic 1 Lorem ipsum dolor sit amet</h3></div>
                <div>By <a href="#">Dlvin Hafeez</a><time> on Tuesday, 18/10/2022 2:41 PM</time></div>
                <img src="C:\Users\96478\Desktop\HTML\assignment-html\img\evie-s-P6RSaKMmf20-unsplash.jpg" width="100px" height="100px">
                <article>
                    Lilium is a genus of herbaceous flowering plants growing from bulbs, all with large prominent flowers.
                     They are the true lilies. Lilies are a group of flowering plants which are important in culture and 
                     literature in much of the world. Most species are native to the northern hemisphere and their range is 
                     temperate climates and extends into the subtropics. Many other plants have "lily" in their common names, but d
                    o not belong to the same genus and are therefore not true lilies.
                    Lilies are tall perennials ranging in height from 2–6 ft (60–180 cm). They form naked or tunicless scaly
                     underground bulbs which are their organs of perennation. In some North American species the base of the bulb develops into rhizomes, on which numerous small 
                     bulbs are found. Some species develop stolons. Most bulbs are buried deep in the ground, but a few species form bulbs 
                     near the soil surface. Many species form stem-roots. With these, the bulb grows naturally at some depth in the soil, and each year the new stem puts out adventitious roots above the bulb as it emerges 
                    from the soil. These roots are in addition to the basal roots that develop at the base of the bulb.
                </article>
            </div>

             <div>
                <div><h3>Topic 2 Resurrection Lily's </h3></div>
                <div>By <a href="#">Dlvin Hafeez</a><time> on Tuesday, 18/10/2022 2:41 PM</time></div>
                <img src="C:\Users\96478\Desktop\HTML\assignment-html\img\how-to-grow-resurrection-lily-surprise-lily.jpg" width="100px" height="100px">
                <article>
                    Resurrection lilies (Lycoris squamigera) are a member of the 
                    amaryllis family. They are thought to have originated in China
                     or Japan. They don’t occur in nature because they are a hybrid between L. 
                     straminea and L. incarnata. They spread readily. So readily that they
                      have become naturalized in Korea.

                    The plants are called resurrection lilies because they grow leaves
                     in the spring like other bulbs. The flowers appear later in the
                     summer after the leaves have died making it seem as though the plant
                     has been “resurrected”. They are also called Surprise Lily, Magic Lily 
                    and Naked Lady (because the flowers appear without any leaves).
                </article>
            </div>

            <div>
                <div><h3>Topic 3 genus of herbaceous flowering </h3></div>
                <div>By <a href="#">Dlvin Hafeez</a><time> on Tuesday, 18/10/2022 2:41 PM</time></div>
                <img src="C:\Users\96478\Desktop\HTML\assignment-html\img\flower-leopard-lily.webp" width="100px" height="100px">
                <article>
                    The true lilies are erect perennial plants with leafy stems, 
                    scaly bulbs, usually narrow leaves, and solitary or clustered 
                    flowers. The flowers consist of six petal-like segments, which 
                    may form the shape of a trumpet, with a more or less elongated
                    tube, as in the Madonna lily (Lilium candidum) and Easter lily
                    (L. longiflorum). Alternatively, the segments may be reflexed
                    (curved back) to form a turban shape, as in the Turk’s cap lily
                    (L. martagon), or they may be less strongly reflexed and form 
                    an open cup or bowl shape, as in the wood lily (L. philadelphicum) 
                    and goldband lily (L. auratum). The flowers of some species are 
                    quite fragrant, and they occur in a wide variety of colours. 
                    Plants of most species range in height from 30 to 120 cm (1 to 4 feet); 
                    plants of 
                    certain species, however, exceed 2.5 metres (8 feet) in height.
                </article>
            </div>
            <sidenav>
                <h1>Layout Design</h1>
                <ul id="drop-down-menu">
                    <li><a href="C:\Users\96478\Desktop\HTML\assignment-html\layout\float.html">Float Layout with Side nav</a></li>
                    <li><a href="C:\Users\96478\Desktop\HTML\assignment-html\layout\flex.html">Flexbox Layout with Side nav</a></li>
                    <li><a href="C:\Users\96478\Desktop\HTML\assignment-html\layout\grid.html">Blog Grid View</a></li>
                </ul></li>
            </sidenav>

    </main>








    <footer>
        <table>
           
            <tr>
                <th>Sitemap</th>
                <th>Terms and quick link</th>
                <th>Adress and Contact</th>
            </tr>
          
          
            <tr>
                <td><a href="#">Home</a></td>
                <td><a href="#">Term of usage</a></td>
                <td><address>Erbil/Kurdistan/Iraq</address></td>
            </tr>
           

            <tr>
                <td><a href="#">About</a></td>
                <td><a href="#">Link1</a></td>
                <td><Phone>0750 000 00 00</Phone></td>
            </tr>


            <tr>
                <td><a href="#">Contact</a></td>
                <td><a href="#">Link2</a></td>
                <td><email>email@anything.coms</email></td>
            </tr>


            <tr>
                <td><a href="#">Login</a></td>
                <td><a href="#">Link3</a></td>
                
            </tr>
        </table>

    </footer>

</body>
</html>